
*{
    font-family: sans-serif;
}

.wrapper {
    width: 80%;
    margin: 25px auto;
}

hr {
    width: 20%;
    float: left;
}

.form-input {
    display: block;
    margin-bottom: 10px;
}

.register-button {
    padding: 10px;
    background: #9999ff;
    font-variant: small-caps;
    text-decoration: none;
    margin-left: 25px;
    border-radius: 50%;
    color: #eee;
    border: none;
    font-size: 15px;
}

#newuser:first-letter {
    color: #0000ff;
}